<div class="BrowseSidebar">
   <h3 class="BrowseSidebar-header">Refine Your Search</h3>
   <div>
      <div class="BrowseSidebar-content BrowseSidebar-responsiveContent">
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Genre</h4>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
               
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
               
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Age Ranges</h4>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Popular Formats</h4>
           
            </div>
            <div class="SidebarSection-content u-hidden">
             
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Other Formats</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">DVD</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Audio CD</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Comic</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Library Binding</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Board book</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Perfect Paperback</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Audio Cassette</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">VHS Tape</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Price</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Under $5</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$5–$10</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$10–$15</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$15–$25</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$25–$50</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Over $50</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Quality</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">New</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Like New</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Very Good</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Good</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Acceptable</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Language</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Turkish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input checked="" type="checkbox">English</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Dutch</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">French</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Greek</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Russian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Italian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Swedish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Portuguese Brazilian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Spanish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Japanese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Taiwanese Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Portuguese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Korean</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Polish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">German</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Mandarin Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Hebrew</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Other Filters</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Large Print</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Thrift Deals</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">New Arrivals</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Collectible</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Signed</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">First Edition</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Advanced Search</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content SearchPage-advancedSearch u-hidden">
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-title">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-author">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-exclude">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="SidebarSection SearchPage-reset">
            <div class="SidebarSection-header">
               <h4>
                  <button class="is-link" title="" type="button">
                     <svg icon="refresh" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--refresh"></use>
                     </svg>
                     <span>Reset Filters</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
      <div class="BrowseSidebar-content BrowseSidebar-desktopContent">
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Genre</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Age Ranges</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Popular Formats</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Mass Market Paperback</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Hardcover</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Paperback</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Other Formats</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">DVD</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Audio CD</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Comic</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Library Binding</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Board book</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Perfect Paperback</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Audio Cassette</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">VHS Tape</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Price</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Under $5</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$5–$10</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$10–$15</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$15–$25</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">$25–$50</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Over $50</span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Quality</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">New</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Like New</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Very Good</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Good</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Acceptable</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Language</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Turkish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input checked="" type="checkbox">English</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Dutch</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">French</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Greek</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Russian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Italian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Swedish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Portuguese Brazilian</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Spanish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Japanese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Taiwanese Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Portuguese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Korean</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Polish</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">German</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Mandarin Chinese</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Hebrew</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Other Filters</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Large Print</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Thrift Deals</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">New Arrivals</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Collectible</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">Signed</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox">First Edition</strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Advanced Search</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content SearchPage-advancedSearch">
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-title">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-author">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-exclude">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="SidebarSection SearchPage-reset">
            <div class="SidebarSection-header">
               <h4>
                  <button class="is-link" title="" type="button">
                     <svg icon="refresh" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--refresh"></use>
                     </svg>
                     <span>Reset Filters</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
   </div>
</div>