<div class="BrowseSidebar">
   <h3 class="BrowseSidebar-header">Refine Your Search</h3>
   <div>
      <div class="BrowseSidebar-content BrowseSidebar-responsiveContent">
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Categories</h4>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
               
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
               
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Age Ranges</h4>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Popular Formats</h4>
           
            </div>
            <div class="SidebarSection-content u-hidden">
             
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Other Formats</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
             
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Quality</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
                
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
               
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
            
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                
               </div>
               <div class="SidebarSection-option">
                  
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection is-hidingContent">
            <div class="SidebarSection-header">
               <h4>Other Filters</h4>
               <button class="Toggle SidebarSection-headerCollapse is-collapsed Toggle--animated is-link" title="" type="button">
               
               </button>
            </div>
            <div class="SidebarSection-content u-hidden">
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
               <div class="SidebarSection-option">
                 
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Advanced Search</h4>
              
            </div>
            <div class="SidebarSection-content SearchPage-advancedSearch u-hidden">
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-title">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-author">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-exclude">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="SidebarSection SearchPage-reset">
            <div class="SidebarSection-header">
               <h4>
                  <button class="is-link" title="" type="button">
                     <svg icon="refresh" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--refresh"></use>
                     </svg>
                     <span>Reset Filters</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
      <div class="BrowseSidebar-content BrowseSidebar-desktopContent">
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Categories</h4>
            </div>
            <% @categories.each do |count, category| %>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></input>
                     <strong class="Checkbox-label"><span><span class='name'><%= category %></span><span> </span><span class="SearchPage-genreCount"><span>(</span><span><%= count %></span><span>)</span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
           <% end %>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Age Ranges</h4>
            </div>
            <% @books.each do |book| %>
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"></span></span></span></strong>
                     <div class="Checkbox-state"><%= book.age_range %></div>
                  </label>
               </div>
               <% end %>
            </div>
         </div>
         
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Advanced Search</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content SearchPage-advancedSearch">
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-title">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-author">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
               <div class="Input-container is-small">
                  <label class="Input-label" for="SearchPage-advSearch-exclude">
                  <div class="Input-errorContainer">
                     <div class="Input-error"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="SidebarSection SearchPage-reset">
            <div class="SidebarSection-header">
               <h4>
                  <button class="is-link" title="" type="button">
                     <svg icon="refresh" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--refresh"></use>
                     </svg>
                     <span>Reset Filters</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
   </div>
</div>