<div class="BrowseSearchTerms" data-reactid=".7.0.1.0.0:$searchPage-searchTerms">
   <div class="BrowseSearchTerm is-filter" data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006">
      <div class="BrowseSearchTerm-term" data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.0"><span data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.0.0"><strong data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.0.0.0">Genre</strong><span data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.0.0.1">: </span><span data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.0.0.2">Education &amp; Reference</span></span></div>
      <button class="BrowseSearchTerm-close is-link" title="" type="button" data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.1">
         <svg icon="close" class="Icon" data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.1.0">
            <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--close" data-reactid=".7.0.1.0.0:$searchPage-searchTerms.$f-tags-13006.1.0.0"></use>
         </svg>
      </button>
   </div>
</div>