<div class="Browse">
  <div class="BrowseSidebar" data-reactid=".7.0.0">
   <h3 class="BrowseSidebar-responsiveTitle"> results found</span></span></h3>
   <h3 class="BrowseSidebar-header">Refine Your Search</h3>
   <div>
      <button class="BrowseSidebar-headerCollapse is-link" title="" type="button">
         <span>Refine Your Search</span>
         <svg icon="chevron-up" class="Icon">
            <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
         </svg>
      </button>
      </div>
      <div class="BrowseSidebar-content BrowseSidebar-desktopContent">
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Genre</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"><strong class="Checkbox-label"><span><span>Teen &amp; Young Adult</span><span> </span><span class="SearchPage-genreCount"><span>(</span><span>17</span><span>)</span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection">
            <div class="SidebarSection-header">
               <h4>Age Ranges</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content">
               <div class="SidebarSection-option">
                  <label class="Checkbox">
                     <input type="checkbox"><strong class="Checkbox-label"><span><span>Teen &amp; Young Adult</span><span> </span><span class="SearchPage-genreCount"><span>(</span><span>17</span><span>)</span></span></span></strong>
                     <div class="Checkbox-state"></div>
                  </label>
               </div>
            </div>
         </div>
         <div class="SidebarSection" data-reactid=".7.0.0.2.2.2:$advSearch">
            <div class="SidebarSection-header" data-reactid=".7.0.0.2.2.2:$advSearch.0">
               <h4 data-reactid=".7.0.0.2.2.2:$advSearch.0.0">Advanced Search</h4>
               <button class="Toggle SidebarSection-headerCollapse Toggle--animated is-link" title="" type="button" data-reactid=".7.0.0.2.2.2:$advSearch.0.1">
                  <svg class="Icon Toggle-collapseIcon" icon="chevron-up" data-reactid=".7.0.0.2.2.2:$advSearch.0.1.0">
                     <use data-classes="Toggle-collapseIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-up" data-reactid=".7.0.0.2.2.2:$advSearch.0.1.0.0"></use>
                  </svg>
               </button>
            </div>
            <div class="SidebarSection-content SearchPage-advancedSearch" data-reactid=".7.0.0.2.2.2:$advSearch.1">
               <div class="Input-container is-small" data-reactid=".7.0.0.2.2.2:$advSearch.1.0">
                  <label class="Input-label" for="SearchPage-advSearch-title" data-reactid=".7.0.0.2.2.2:$advSearch.1.0.0"><span data-reactid=".7.0.0.2.2.2:$advSearch.1.0.0.0">Title</span></label><input class="Input" id="SearchPage-advSearch-title" type="text" value="" data-reactid=".7.0.0.2.2.2:$advSearch.1.0.2">
                  <div class="Input-errorContainer" data-reactid=".7.0.0.2.2.2:$advSearch.1.0.3">
                     <div class="Input-error" data-reactid=".7.0.0.2.2.2:$advSearch.1.0.3.0"></div>
                  </div>
               </div>
               <div class="Input-container is-small" data-reactid=".7.0.0.2.2.2:$advSearch.1.1">
                  <label class="Input-label" for="SearchPage-advSearch-author" data-reactid=".7.0.0.2.2.2:$advSearch.1.1.0"><span data-reactid=".7.0.0.2.2.2:$advSearch.1.1.0.0">Author</span></label><input class="Input" id="SearchPage-advSearch-author" type="text" value="" data-reactid=".7.0.0.2.2.2:$advSearch.1.1.2">
                  <div class="Input-errorContainer" data-reactid=".7.0.0.2.2.2:$advSearch.1.1.3">
                     <div class="Input-error" data-reactid=".7.0.0.2.2.2:$advSearch.1.1.3.0"></div>
                  </div>
               </div>
               <div class="Input-container is-small" data-reactid=".7.0.0.2.2.2:$advSearch.1.2">
                  <label class="Input-label" for="SearchPage-advSearch-exclude" data-reactid=".7.0.0.2.2.2:$advSearch.1.2.0"><span data-reactid=".7.0.0.2.2.2:$advSearch.1.2.0.0">Exclude</span></label><input class="Input" id="SearchPage-advSearch-exclude" type="text" value="" data-reactid=".7.0.0.2.2.2:$advSearch.1.2.2">
                  <div class="Input-errorContainer" data-reactid=".7.0.0.2.2.2:$advSearch.1.2.3">
                     <div class="Input-error" data-reactid=".7.0.0.2.2.2:$advSearch.1.2.3.0"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="SidebarSection SearchPage-reset">
            <div class="SidebarSection-header">
               <h4>
                  <button class="is-link" title="" type="button">
                     <svg icon="refresh" class="Icon">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--refresh"></use>
                     </svg>
                     <span>Reset Filters</span>
                  </button>
               </h4>
            </div>
         </div>
      </div>
   </div>
</div>
</div>