<div class="Work-top Content" data-reactid=".8.0">
   <div class="Work-topSidebar" data-reactid=".8.0.0">
      <div class="WorkMeta-sidebar" data-reactid=".8.0.0.0">
         <h1 class="WorkMeta-sidebarTitle" data-reactid=".8.0.0.0.0">Harry Potter and the Deathly Hallows (Book 7)</h1>
         <span data-reactid=".8.0.0.0.1"></span>
         <div class="WorkMeta-byline" data-reactid=".8.0.0.0.2">
            <div class="WorkMeta-authors" data-reactid=".8.0.0.0.2.0"><span data-reactid=".8.0.0.0.2.0.0">by </span><a href="/a/jk-rowling/196363/" itemprop="author" data-reactid=".8.0.0.0.2.0.$0">J.K. Rowling</a></div>
            <div class="WorkMeta-ratingContainer" data-reactid=".8.0.0.0.2.1">
               <div class="WorkMeta-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" data-reactid=".8.0.0.0.2.1.0">
                  <meta content="4.89" itemprop="ratingValue" data-reactid=".8.0.0.0.2.1.0.0">
                  <meta content="6" itemprop="reviewCount" data-reactid=".8.0.0.0.2.1.0.1">
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.0.0.2.1.0.2:$0">
                     <svg class="Icon is-filled" icon="star" data-reactid=".8.0.0.0.2.1.0.2:$0.$full-0">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.0.0.2.1.0.2:$0.$full-0.0"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.0.0.2.1.0.2:$1">
                     <svg class="Icon is-filled" icon="star" data-reactid=".8.0.0.0.2.1.0.2:$1.$full-1">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.0.0.2.1.0.2:$1.$full-1.0"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.0.0.2.1.0.2:$2">
                     <svg class="Icon is-filled" icon="star" data-reactid=".8.0.0.0.2.1.0.2:$2.$full-2">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.0.0.2.1.0.2:$2.$full-2.0"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.0.0.2.1.0.2:$3">
                     <svg class="Icon is-filled" icon="star" data-reactid=".8.0.0.0.2.1.0.2:$3.$full-3">
                        <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.0.0.2.1.0.2:$3.$full-3.0"></use>
                     </svg>
                  </span>
                  <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.0.0.2.1.0.2:$4">
                     <svg icon="star-three-quarters" class="Icon" data-reactid=".8.0.0.0.2.1.0.2:$4.$three-quarter">
                        <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star-three-quarters" data-reactid=".8.0.0.0.2.1.0.2:$4.$three-quarter.0"></use>
                     </svg>
                  </span>
               </div>
               <button class="WorkMeta-reviewsLink is-link" title="" type="button" data-reactid=".8.0.0.0.2.1.1">See Customer Reviews</button>
            </div>
         </div>
         <div class="WorkMeta-thumbnail" data-reactid=".8.0.0.0.3"><img itemprop="image" src="http://ecx.images-amazon.com/images/I/5128ATd9dSL._SL300_.jpg" data-reactid=".8.0.0.0.3.0"></div>
         <div data-reactid=".8.0.0.0.4">
            <div class="WorkMeta-details is-collapsable is-collapsed" data-reactid=".8.0.0.0.4.0">
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$0"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$0.0"><span data-reactid=".8.0.0.0.4.0.0:$0.0.0">Format</span><span data-reactid=".8.0.0.0.4.0.0:$0.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$0.1">Paperback</span></div>
               <div class="WorkMeta-detailsRow is-collapsed is-important" data-reactid=".8.0.0.0.4.0.0:$2"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$2.0"><span data-reactid=".8.0.0.0.4.0.0:$2.0.0">Language</span><span data-reactid=".8.0.0.0.4.0.0:$2.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$2.1">English</span></div>
               <div class="WorkMeta-detailsRow" data-reactid=".8.0.0.0.4.0.0:$3"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$3.0"><span data-reactid=".8.0.0.0.4.0.0:$3.0.0">ISBN</span><span data-reactid=".8.0.0.0.4.0.0:$3.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$3.1">0545139708</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$4"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$4.0"><span data-reactid=".8.0.0.0.4.0.0:$4.0.0">ISBN13</span><span data-reactid=".8.0.0.0.4.0.0:$4.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$4.1">9780545139700</span></div>
               <div class="WorkMeta-detailsRow" data-reactid=".8.0.0.0.4.0.0:$5"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$5.0"><span data-reactid=".8.0.0.0.4.0.0:$5.0.0">Release Date</span><span data-reactid=".8.0.0.0.4.0.0:$5.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$5.1">July 2009</span></div>
               <div class="WorkMeta-detailsRow" data-reactid=".8.0.0.0.4.0.0:$6"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$6.0"><span data-reactid=".8.0.0.0.4.0.0:$6.0.0">Publisher</span><span data-reactid=".8.0.0.0.4.0.0:$6.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$6.1">Arthur A. Levine Books</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$7"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$7.0"><span data-reactid=".8.0.0.0.4.0.0:$7.0.0">Length</span><span data-reactid=".8.0.0.0.4.0.0:$7.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$7.1">784 Pages</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$8"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$8.0"><span data-reactid=".8.0.0.0.4.0.0:$8.0.0">Weight</span><span data-reactid=".8.0.0.0.4.0.0:$8.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$8.1">2.45 lbs.</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$9"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$9.0"><span data-reactid=".8.0.0.0.4.0.0:$9.0.0">Dimensions</span><span data-reactid=".8.0.0.0.4.0.0:$9.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$9.1">2.2" x 6.3" x 9.1"</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$10"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$10.0"><span data-reactid=".8.0.0.0.4.0.0:$10.0.0">Age Range</span><span data-reactid=".8.0.0.0.4.0.0:$10.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$10.1">9 to 12 years</span></div>
               <div class="WorkMeta-detailsRow is-collapsed" data-reactid=".8.0.0.0.4.0.0:$11"><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$11.0"><span data-reactid=".8.0.0.0.4.0.0:$11.0.0">Grade Range</span><span data-reactid=".8.0.0.0.4.0.0:$11.0.1">:</span></span><span class="WorkMeta-detail" data-reactid=".8.0.0.0.4.0.0:$11.1">Grades 4 to 7</span></div>
               <button class="WorkMeta-detailsCollapseButton is-link" title="" type="button" data-reactid=".8.0.0.0.4.0.1">
                  <span data-reactid=".8.0.0.0.4.0.1.0">More</span><span data-reactid=".8.0.0.0.4.0.1.1"> Details</span>
                  <svg icon="chevron-down" class="Icon" data-reactid=".8.0.0.0.4.0.1.2">
                     <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down" data-reactid=".8.0.0.0.4.0.1.2.0"></use>
                  </svg>
               </button>
            </div>
         </div>
      </div>
   </div>
   <div class="Work-topContentContainer" data-reactid=".8.0.1">
      <div class="Work-topContent" data-reactid=".8.0.1.0">
         <div class="WorkMeta-content WorkMeta-useAlternate" data-reactid=".8.0.1.0.0">
            <div class="WorkMeta-editionsContainer" data-reactid=".8.0.1.0.0.0">
               <div class="WorkMeta-editions" data-reactid=".8.0.1.0.0.0.0">
                  <h1 class="WorkMeta-title" itemprop="name" data-reactid=".8.0.1.0.0.0.0.0">Harry Potter and the Deathly Hallows (Book 7)</h1>
                  <h2 class="WorkMeta-series" data-reactid=".8.0.1.0.0.0.0.$37095-#7"><span data-reactid=".8.0.1.0.0.0.0.$37095-#7.0">(Book </span><span data-reactid=".8.0.1.0.0.0.0.$37095-#7.1">#7</span><span data-reactid=".8.0.1.0.0.0.0.$37095-#7.2"> in the </span><a href="/series/harry-potter/37095/" data-reactid=".8.0.1.0.0.0.0.$37095-#7.3">Harry Potter Series</a><span data-reactid=".8.0.1.0.0.0.0.$37095-#7.4">)</span></h2>
                  <div class="WorkMeta-byline" data-reactid=".8.0.1.0.0.0.0.2">
                     <div class="WorkMeta-authors" data-reactid=".8.0.1.0.0.0.0.2.0"><span data-reactid=".8.0.1.0.0.0.0.2.0.0">by </span><a href="/a/jk-rowling/196363/" itemprop="author" data-reactid=".8.0.1.0.0.0.0.2.0.$0">J.K. Rowling</a></div>
                     <div class="WorkMeta-ratingContainer" data-reactid=".8.0.1.0.0.0.0.2.1">
                        <div class="WorkMeta-rating" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" data-reactid=".8.0.1.0.0.0.0.2.1.0">
                           <meta content="4.89" itemprop="ratingValue" data-reactid=".8.0.1.0.0.0.0.2.1.0.0">
                           <meta content="6" itemprop="reviewCount" data-reactid=".8.0.1.0.0.0.0.2.1.0.1">
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$0">
                              <svg class="Icon is-filled" icon="star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$0.$full-0">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$0.$full-0.0"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$1">
                              <svg class="Icon is-filled" icon="star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$1.$full-1">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$1.$full-1.0"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$2">
                              <svg class="Icon is-filled" icon="star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$2.$full-2">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$2.$full-2.0"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$3">
                              <svg class="Icon is-filled" icon="star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$3.$full-3">
                                 <use data-classes="is-filled" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$3.$full-3.0"></use>
                              </svg>
                           </span>
                           <span class="WorkMeta-ratingStar" style="cursor:default;" title="Log in to rate this book" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$4">
                              <svg icon="star-three-quarters" class="Icon" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$4.$three-quarter">
                                 <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--star-three-quarters" data-reactid=".8.0.1.0.0.0.0.2.1.0.2:$4.$three-quarter.0"></use>
                              </svg>
                           </span>
                        </div>
                        <button class="WorkMeta-reviewsLink is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.2.1.1">See Customer Reviews</button>
                     </div>
                  </div>
                  <div class="MiniBrowse-seeAllLink is-desktop" data-reactid=".8.0.1.0.0.0.0.3">
                     <button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.3.0">
                        <span data-reactid=".8.0.1.0.0.0.0.3.0.0">See</span><span data-reactid=".8.0.1.0.0.0.0.3.0.1"> all </span><span data-reactid=".8.0.1.0.0.0.0.3.0.2">51</span><span data-reactid=".8.0.1.0.0.0.0.3.0.3"> formats &amp; editions</span>
                        <svg icon="chevron-down" class="Icon" data-reactid=".8.0.1.0.0.0.0.3.0.4">
                           <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down" data-reactid=".8.0.1.0.0.0.0.3.0.4.0"></use>
                        </svg>
                     </button>
                  </div>
                  <div class="MiniBrowseContainer" data-reactid=".8.0.1.0.0.0.0.4">
                     <div data-reactid=".8.0.1.0.0.0.0.4.0">
                        <div class="Loading-spinner" data-reactid=".8.0.1.0.0.0.0.4.0.0">
                           <div class="Loading-rect" data-reactid=".8.0.1.0.0.0.0.4.0.0.0"></div>
                           <div class="Loading-rect" data-reactid=".8.0.1.0.0.0.0.4.0.0.1"></div>
                           <div class="Loading-rect" data-reactid=".8.0.1.0.0.0.0.4.0.0.2"></div>
                           <div class="Loading-rect" data-reactid=".8.0.1.0.0.0.0.4.0.0.3"></div>
                           <div class="Loading-rect" data-reactid=".8.0.1.0.0.0.0.4.0.0.4"></div>
                        </div>
                     </div>
                  </div>
                  <div class="is-desktop" data-reactid=".8.0.1.0.0.0.0.5">
                     <div class="WorkSwitcher-container is-visible" data-reactid=".8.0.1.0.0.0.0.5.0">
                        <div class="WorkSwitcher-dropdown" data-reactid=".8.0.1.0.0.0.0.5.0.0">
                           <div class="Dropdown" id="dropdown-1a92db1" role="menubar" data-reactid=".8.0.1.0.0.0.0.5.0.0.0">
                              <div aria-haspopup="true" class="Dropdown-selection" tabindex="0" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.0">
                                 <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.0.0:$5001248-title">Paperback</div>
                                 <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.0.0:$5001248-desc">from $6.13</div>
                                 <svg icon="caret-down" class="Icon" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.0.1">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-down" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.0.1.0"></use>
                                 </svg>
                              </div>
                              <ul aria-hidden="true" class="Dropdown-list" role="menu" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1">
                                 <li class="" data-idx="0" role="menuitem" tabindex="-1" value="3872606" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$3872606">
                                    <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$3872606.0">
                                       <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$3872606.0.$3872606-title">Hardcover</div>
                                       <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$3872606.0.$3872606-desc">from $3.59</div>
                                    </button>
                                 </li>
                                 <li class="" data-idx="1" role="menuitem" tabindex="-1" value="5001248" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5001248">
                                    <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5001248.0">
                                       <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5001248.0.$5001248-title">Paperback</div>
                                       <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5001248.0.$5001248-desc">from $6.13</div>
                                    </button>
                                 </li>
                                 <li class="" data-idx="2" role="menuitem" tabindex="-1" value="5767966" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5767966">
                                    <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5767966.0">
                                       <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5767966.0.$5767966-title">Library Binding</div>
                                       <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.0.5.0.0.0.1.$5767966.0.$5767966-desc">from $21.34</div>
                                    </button>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="WorkSwitcher" data-reactid=".8.0.1.0.0.0.0.5.0.1">
                           <span class="WorkSwitcher-format" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0">
                              <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0">
                                 <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0">
                                    <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.0.1">Hardcover</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.1"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.1.1">3.59</span></span>
                                    <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.0.0.2">
                                 </div>
                              </button>
                              <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1.0.0">60</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1.0.2">New &amp; Used</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$0.1.0.3"> (see all)</span></button></span>
                           </span>
                           <span class="WorkSwitcher-format is-active" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1">
                              <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0">
                                 <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0">
                                    <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.0.1">Paperback</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.1"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.1.1">6.13</span></span>
                                    <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.0.0.2">
                                 </div>
                              </button>
                              <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1.0.0">55</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1.0.2">New &amp; Used</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$1.1.0.3"> (see all)</span></button></span>
                           </span>
                           <span class="WorkSwitcher-format" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2">
                              <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0">
                                 <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0">
                                    <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.0.1">Library Binding</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.1"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.1.1">21.34</span></span>
                                    <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.0.0.2">
                                 </div>
                              </button>
                              <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1.0"><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1.0.0">4</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1.0.2">New</span><span data-reactid=".8.0.1.0.0.0.0.5.0.1.0:$2.1.0.3"> (see all)</span></button></span>
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="is-desktop" data-reactid=".8.0.1.0.0.0.0.7">
                     <a class="WorkMeta-freeShippingMessage" href="/s/free-shipping/" data-reactid=".8.0.1.0.0.0.0.7.0">Free shipping on all U.S. orders over $10!</a>
                     <h5 class="WorkMeta-overviewTitle" data-reactid=".8.0.1.0.0.0.0.7.1">Overview</h5>
                     <p class="WorkMeta-overview" data-reactid=".8.0.1.0.0.0.0.7.2">Readers beware. The brilliant, breathtaking conclusion to J.K. Rowling's spellbinding series is not for the faint of heart--such revelations, battles, and betrayals await in Harry Potter and the Deathly Hallows that no fan will make it to the end unscathed. Luckily, Rowling has prepped loyal readers...</p>
                     <button class="WorkMeta-overviewReadMore is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.0.7.3">
                        <span data-reactid=".8.0.1.0.0.0.0.7.3.0">More Details</span>
                        <svg class="Icon WorkMeta-overviewIcon" icon="chevron-down" data-reactid=".8.0.1.0.0.0.0.7.3.1">
                           <use data-classes="WorkMeta-overviewIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down" data-reactid=".8.0.1.0.0.0.0.7.3.1.0"></use>
                        </svg>
                     </button>
                  </div>
               </div>
               <div class="WorkMeta-priceSidebar" data-reactid=".8.0.1.0.0.0.1">
                  <div class="WorkPriceContainer" data-reactid=".8.0.1.0.0.0.1.0">
                     <div class="WorkPriceContainer-header" data-reactid=".8.0.1.0.0.0.1.0.0">
                        <div class="WorkPriceContainer-prices" data-reactid=".8.0.1.0.0.0.1.0.0.0">
                           <div class="WorkPriceContainer-priceText" data-reactid=".8.0.1.0.0.0.1.0.0.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.0.0.0">$</span><span data-reactid=".8.0.1.0.0.0.1.0.0.0.0.1">6.13</span></div>
                           <small class="WorkPriceContainer-listPriceText" data-reactid=".8.0.1.0.0.0.1.0.0.0.1">
                              <div data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0">
                                 <span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.0">List Price: </span><span class="u-strike" data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.1"><span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.1.0">$</span><span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.1.1">18.98</span></span>
                                 <div data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.2"><span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.2.0">Save: </span><span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.2.1">68</span><span data-reactid=".8.0.1.0.0.0.1.0.0.0.1.0.2.2">%</span></div>
                              </div>
                           </small>
                        </div>
                        <h5 data-reactid=".8.0.1.0.0.0.1.0.0.1">Best Value</h5>
                        <div data-reactid=".8.0.1.0.0.0.1.0.0.2">
                           <strong class="WorkPriceContainer-mediaText" data-reactid=".8.0.1.0.0.0.1.0.0.2.0">Paperback</strong>
                           <span class="WorkPriceContainer-conditionText" data-reactid=".8.0.1.0.0.0.1.0.0.2.1">
                              <div class="Tooltip" width="250" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0">
                                 <div class="Hover has-indicator" id="hover-1eba16d" style="cursor:help;" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0">
                                    <span data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:0"><span data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:0.0">Used – </span><span data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:0.1">Acceptable</span></span>
                                    <div class="Tooltip-tip is-bottom is-multiline" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1">
                                       <div class="Tooltip-tipContent" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1.0">
                                          <p data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1.0.0"><strong data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1.0.0.0">Acceptable</strong><span data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1.0.0.1">: A readable copy. All pages are intact, and the cover is intact (the dust cover may be missing). Pages can include considerable notes—in pen or highlighter—but the notes cannot obscure the text.</span></p>
                                       </div>
                                       <div class="Tooltip-callout" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.0.0.0:1.1"></div>
                                    </div>
                                 </div>
                              </div>
                              <span data-reactid=".8.0.1.0.0.0.1.0.0.2.1.1"> </span>
                              <div class="Tooltip" width="250" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket">
                                 <div class="Hover" id="hover-14ba7ae" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0">
                                    <span class="Work-formatsConditionBit" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:0">
                                       <svg icon="dust-jacket" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:0.0">
                                          <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--dust-jacket" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:0.0.0"></use>
                                       </svg>
                                    </span>
                                    <div class="Tooltip-tip is-right" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:1">
                                       <div class="Tooltip-tipContent" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:1.0">Item is missing its dust jacket</div>
                                       <div class="Tooltip-callout" data-reactid=".8.0.1.0.0.0.1.0.0.2.1.2:$nodustjacket.0.0:1.1"></div>
                                    </div>
                                 </div>
                              </div>
                           </span>
                        </div>
                        <div class="is-mobile" data-reactid=".8.0.1.0.0.0.1.0.0.3">
                           <div class="WorkSwitcher-container is-visible" data-reactid=".8.0.1.0.0.0.1.0.0.3.0">
                              <div class="WorkSwitcher-dropdown" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0">
                                 <div class="Dropdown" id="dropdown-1517216" role="menubar" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0">
                                    <div aria-haspopup="true" class="Dropdown-selection" tabindex="0" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.0">
                                       <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.0.0:$5001248-title">Paperback</div>
                                       <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.0.0:$5001248-desc">from $6.13</div>
                                       <svg icon="caret-down" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.0.1">
                                          <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-down" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.0.1.0"></use>
                                       </svg>
                                    </div>
                                    <ul aria-hidden="true" class="Dropdown-list" role="menu" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1">
                                       <li class="" data-idx="0" role="menuitem" tabindex="-1" value="3872606" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$3872606">
                                          <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$3872606.0">
                                             <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$3872606.0.$3872606-title">Hardcover</div>
                                             <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$3872606.0.$3872606-desc">from $3.59</div>
                                          </button>
                                       </li>
                                       <li class="" data-idx="1" role="menuitem" tabindex="-1" value="5001248" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5001248">
                                          <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5001248.0">
                                             <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5001248.0.$5001248-title">Paperback</div>
                                             <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5001248.0.$5001248-desc">from $6.13</div>
                                          </button>
                                       </li>
                                       <li class="" data-idx="2" role="menuitem" tabindex="-1" value="5767966" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5767966">
                                          <button class="has-description is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5767966.0">
                                             <div class="Dropdown-itemTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5767966.0.$5767966-title">Library Binding</div>
                                             <div class="Dropdown-itemDescription" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.0.0.1.$5767966.0.$5767966-desc">from $21.34</div>
                                          </button>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                              <div class="WorkSwitcher" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1">
                                 <span class="WorkSwitcher-format" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0">
                                          <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.0.1">Hardcover</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.1"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.1.1">3.59</span></span>
                                          <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.0.0.2">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1.0.0">60</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1.0.2">New &amp; Used</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$0.1.0.3"> (see all)</span></button></span>
                                 </span>
                                 <span class="WorkSwitcher-format is-active" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0">
                                          <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.0.1">Paperback</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.1"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.1.1">6.13</span></span>
                                          <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.0.0.2">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1.0.0">55</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1.0.2">New &amp; Used</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$1.1.0.3"> (see all)</span></button></span>
                                 </span>
                                 <span class="WorkSwitcher-format" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2">
                                    <button class="WorkSwitcher-formatButton is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0">
                                       <div class="WorkSwitcher-formatContent" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0">
                                          <span class="WorkSwitcher-formatTitle" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.0.1">Library Binding</span></span><span class="WorkSwitcher-formatPrice" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.1"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.1.0">from $</span><span itemprop="price" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.1.1">21.34</span></span>
                                          <link href="http://schema.org/InStock" itemprop="availability" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.0.0.2">
                                       </div>
                                    </button>
                                    <span class="WorkSwitcher-seeAll" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1"><button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1.0"><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1.0.0">4</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1.0.1"> </span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1.0.2">New</span><span data-reactid=".8.0.1.0.0.0.1.0.0.3.0.1.0:$2.1.0.3"> (see all)</span></button></span>
                                 </span>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="WorkPriceContainer-addToCartButton" data-reactid=".8.0.1.0.0.0.1.0.1">
                        <div class="Work-addToCart Button-container is-small" title="" data-reactid=".8.0.1.0.0.0.1.0.1.0"><button class="Button" type="button" data-reactid=".8.0.1.0.0.0.1.0.1.0.0">Add to Cart</button></div>
                     </div>
                     <div class="WorkPriceContainer-wishlistButtonContainer" data-reactid=".8.0.1.0.0.0.1.0.2">
                        <div class="WorkWishList" data-reactid=".8.0.1.0.0.0.1.0.2.0">
                           <div class="WorkWishListButton" data-reactid=".8.0.1.0.0.0.1.0.2.0.0">
                              <a href="/account/login.aspx?login=y&amp;wl=y&amp;wlisbn=0545139708&amp;returnurl=http%3a%2f%2fwww.thriftbooks.com%2fw%2fharry-potter-and-the-deathly-hallows_jk-rowling%2f245749%2f" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.0">
                                 <svg icon="wishlist-outline" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.0.0">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--wishlist-outline" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.0.0.0"></use>
                                 </svg>
                                 <span data-reactid=".8.0.1.0.0.0.1.0.2.0.0.0.1">Add to Wish List</span>
                              </a>
                              <span class="u-hidden" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.2">
                                 <svg icon="caret-up" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.2.0">
                                    <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--caret-up" data-reactid=".8.0.1.0.0.0.1.0.2.0.0.2.0.0"></use>
                                 </svg>
                              </span>
                           </div>
                           <div class="WorkWishListPopover" data-reactid=".8.0.1.0.0.0.1.0.2.0.1">
                              <label class="WorkWishList-header" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.0"><input checked="" type="radio" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.0.0"><span data-reactid=".8.0.1.0.0.0.1.0.2.0.1.0.1">Add to Existing List</span></label><select class="WorkWishList-option" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.1"></select><label class="WorkWishList-header" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.2"><input type="radio" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.2.0"><span data-reactid=".8.0.1.0.0.0.1.0.2.0.1.2.1">Add to New List</span></label><input class="WorkWishList-option" placeholder="New List Name" type="text" value="" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.3">
                              <div class="Button-container is-small" title="" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.4"><button class="Button" type="button" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.4.0">Add</button></div>
                              <p class="WorkWishList-error" data-reactid=".8.0.1.0.0.0.1.0.2.0.1.5"></p>
                           </div>
                        </div>
                     </div>
                     <div class="WorkMeta-shares" data-reactid=".8.0.1.0.0.0.1.0.3">
                        <span class="WorkMeta-share ShareThisButton st_facebook_custom" data-reactid=".8.0.1.0.0.0.1.0.3.0" st_processed="yes">
                           <svg icon="social-f" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.3.0.0">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-f" data-reactid=".8.0.1.0.0.0.1.0.3.0.0.0"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_twitter_custom" data-reactid=".8.0.1.0.0.0.1.0.3.1" st_processed="yes">
                           <svg icon="social-twitter" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.3.1.0">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-twitter" data-reactid=".8.0.1.0.0.0.1.0.3.1.0.0"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_pinterest_custom" data-reactid=".8.0.1.0.0.0.1.0.3.2" st_processed="yes">
                           <svg icon="social-pinterest" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.3.2.0">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--social-pinterest" data-reactid=".8.0.1.0.0.0.1.0.3.2.0.0"></use>
                           </svg>
                        </span>
                        <span class="WorkMeta-share ShareThisButton st_sharethis_custom" data-reactid=".8.0.1.0.0.0.1.0.3.3" st_processed="yes">
                           <svg icon="share" class="Icon" data-reactid=".8.0.1.0.0.0.1.0.3.3.0">
                              <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--share" data-reactid=".8.0.1.0.0.0.1.0.3.3.0.0"></use>
                           </svg>
                        </span>
                     </div>
                  </div>
               </div>
               <div class="is-mobile" data-reactid=".8.0.1.0.0.0.2">
                  <p class="WorkMeta-more" data-reactid=".8.0.1.0.0.0.2.0">
                     <button class="is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.2.0.0">
                        <svg icon="list" class="Icon" data-reactid=".8.0.1.0.0.0.2.0.0.0">
                           <use data-classes="" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--list" data-reactid=".8.0.1.0.0.0.2.0.0.0.0"></use>
                        </svg>
                        <span data-reactid=".8.0.1.0.0.0.2.0.0.1">See</span><span data-reactid=".8.0.1.0.0.0.2.0.0.2"> All </span><span data-reactid=".8.0.1.0.0.0.2.0.0.3">51</span><span data-reactid=".8.0.1.0.0.0.2.0.0.4"> Formats &amp; Editions</span><span data-reactid=".8.0.1.0.0.0.2.0.0.5"> from $3.59</span>
                     </button>
                  </p>
                  <a class="WorkMeta-freeShippingMessage" href="/s/free-shipping/" data-reactid=".8.0.1.0.0.0.2.1">Free shipping on all U.S. orders over $10!</a>
                  <h5 class="WorkMeta-overviewTitle" data-reactid=".8.0.1.0.0.0.2.2">Overview</h5>
                  <p class="WorkMeta-overview" data-reactid=".8.0.1.0.0.0.2.3">Readers beware. The brilliant, breathtaking conclusion to J.K. Rowling's spellbinding series is not for the faint of heart--such revelations, battles, and betrayals await in Harry Potter and the Deathly Hallows that no fan will make it to the end unscathed. Luckily, Rowling has prepped loyal readers...</p>
                  <button class="WorkMeta-overviewReadMore is-link" title="" type="button" data-reactid=".8.0.1.0.0.0.2.4">
                     <span data-reactid=".8.0.1.0.0.0.2.4.0">More Details</span>
                     <svg class="Icon WorkMeta-overviewIcon" icon="chevron-down" data-reactid=".8.0.1.0.0.0.2.4.1">
                        <use data-classes="WorkMeta-overviewIcon" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#Icon--chevron-down" data-reactid=".8.0.1.0.0.0.2.4.1.0"></use>
                     </svg>
                  </button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>