<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @author.name %>, you have new comment on your <%= @book.name %>.</h1>
    <h2>Title :<%= @comment.title %></h2>
    <h3>Comment :<%= @comment.comment %></h3>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>